.app-download{
    margin: auto;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}
.app-dowload-platform{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;

}
.app-dowload-platform img:hover{
    transform: scale(1.1);
    
}