.cart{
    margin-top: 100px;

}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);


}
.cart-items-item{
    margin: 10px 0px;
    color: black;


}
.cart-items-item img{
    width: 50px;
}
.cross{
    cursor:pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;


}
.cart-total button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw,200px);
    padding: 10px 0px;
    border-radius: 4px;
    cursor: pointer;
      margin-bottom: 10px;
}
.cart-promo-code p{
    padding: 10px;
    font-weight: 750;
    text-align: start;
   


}
.cart-promo-input input {
    margin-right: 10px;
    padding: 5px;
     background-color: #eaeaea;
}
.cart-promo-input button{
    padding: 5px;
    border: none;
    color: white;
    background-color: tomato;
    width: 100px;
    padding: 10px 0px;
    border-radius: 4px;
    cursor: pointer;
  



}
/* MOBILE RESPONSIVE FIX */
@media (max-width: 750px) {

    /* Hide table header */
    .cart-items-title {
        display: none;
    }

    /* Make each cart row stacked instead of 6 columns */
    .cart-items-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }

    .cart-items-item img {
        width: 80px;
        border-radius: 8px;
    }
}

