.yes{
    padding: 20px;
    height: 150px;
}
.footer-content-right{
    padding: 20px;
    text-align: left;
}
.ul{
    text-align: left;
}
.footer-content-center{
    text-align: left;
    padding: 20px;
    margin: 2px;
}
.bigger{
    display: flex;
    padding: 20px;
}
.footer {
    width: 100vw;           /* full viewport width */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;     /* pull full width */
    margin-right: -50vw;
    background-color: #323232;
    color: white;
    padding: 80px 0 20px 0;
    margin-bottom: 2px;
}
.p{
    padding: 20px;
    gap: 20px;
}
.footer-content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    padding: 0 20px;   /* safe padding */
    box-sizing: border-box;
}

.name{
    margin: 10px;
}
.footer-social-item img{
    width: 40px;
    margin-right: 4px;
}
@media(max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;

    }
    .footer-copyright{
        text-align: center;
        
    }



}