.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transform: 0.3s;
    animation: fadIn 1s;
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.food-item-info{
    padding: 20px;

}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 19px;
    font-weight: 400;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-description{
    color: #676767;
    font-size: 15px;


}
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 750;
    margin: 10px 0px;

}
.food-item-img-container{
    position: relative;

}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}




